@use "./variables" as *;
@use "./mixins" as *;

/* Blog page styles */

/* Header styles */

.header-blog {
    background-image: url(../assets/blog-header.jpg);
}

/* Blog post section */

.blog-main {
    flex-basis: 1;
    background-color: $pale-mauve;
    .flexbox {
        flex-direction: column;
    }
    .blog-wrap {
        flex-wrap: wrap;
        margin: -30px;
        @include mq('extra-size') {
            flex-direction: row;
        }
    }
    h2 {
        margin-top: -35%;
    }
}

.blog-section,
aside {
    background-color: $white;
}

.blog-section {
    width: 55%;
    align-self: flex-end;
    position: absolute;
    top: 70vh;
    height: auto;
    margin-left: auto;
    @include mq('extra-size') {
        position: relative;
        top: 0;
        margin-left: 0;
    }
    figure {
        @include mq('extra-size') {
            position: relative;
        }
        img {
        box-shadow: -20px 20px $orange;
        @include mq('extra-size') {
            position: absolute;
            top: -450px;
        }
        }
    }
    h2 {
        margin: 50px 30px;
    }
    p {
        margin: 30px;
    }
}

.comment {
    width: 55%;
    align-self: flex-end;
    margin: 110px 30px 30px 30px;
    @include mq('tablet-wide') {
        margin-top: 70px;
    }
    @include mq('extra-size') {
        width: 100%;
        padding-left: 45%;
        margin-top: 250px;
    }
    .flexbox {
        flex-direction: row;
    }
    figure {
        min-width: 20%;
        margin: 20px 15px 0 0;
    }
}

.iconbox {
    flex-grow: 1;
    .bold-comment {
        font-weight: bold;
    }
    .flexbox {
        flex-direction: column;
    }
}

.comment-form {
    width: 100%;
    margin: 40px auto 0 auto;
    transition: 0.5s;
    @include mq('extra-size') {
        padding-left: 0;
    }
    form {
        input,
        textarea {
            width: 100%;
        }
        input {
            @include form-input(none);
        }
        input:focus,
        textarea:focus {
            outline: 0;
        }
        textarea {
            @include form-textarea(15vh);
        }
        #name {
            margin-right: 10px;
        }
        #email {
            margin-left: 10px;
        }
        textarea {
            margin: 10px 0;
        }
        button {
            @include form-button(100%);
        }
    }
}

aside {
    order: -1;
    flex-grow: 1;
    width: 25%;
    margin: 50px;
    padding: 35% 50px 50px 50px;
    position: relative;
    figure {
        width: 150%;
        position: absolute;
        top: 10px;
        right: 5%;
        @include mq('extra-size') {
            right: -35%;
        }
    }
    ul {
        list-style: disc;
        margin-top: 10px;
    }
    h4 {
        margin: 20px 0 10px 0;
    }
}