@use "./variables" as *;
@use "./mixins" as *;

/* Contact page styles */

/* Header styles */

.header-contact {
    background-image: url(../assets/contact-image.jpg);
    background-position: 0;
}

/* Contact section */

.contact-section {
    background-color: $pale-mauve;
    height: 30vh;
    .contact-info {
        flex-direction: column;
        margin-bottom: -30px;
        .flexbox {
            margin-right: 200px;
        }
        h3 {
            margin-top: 2vh;
            font-size: 1.4rem;
        }
        p {
            margin: 5px 0;
        }
    }
}

i {
    display: inline-block;
    width: 25%;
    height: 100%;
    margin-top: 2vh;
}

.contact-position {
    position: relative;
    width: 100%;
    .contact-form {
        width: 50vw;
        margin: 0 auto;
        box-shadow: -30px 30px $orange;
        position: absolute;
        bottom: -1vh;
        form {
            background-color: $white;
            padding: 40px;
            input,
            textarea {
                width: 100%;
            }
            input {
                @include form-input(none);
            }
            input:focus,
            textarea:focus {
                outline: 0;
            }
            textarea {
                @include form-textarea(15vh);
            }
            #name {
                margin-right: 10px;
            }
            #email {
                margin-left: 10px;
            }
            textarea {
                margin: 10px 0;
            }
            button {
                @include form-button(100%);
            }
        }
    }
}