@import "variables";
@import "setup";
@import "global";
@import "typography";
@import "nav-bar";
@import "footer";


/* Home page styles */

/* Header styles */

.header-index {
    background-image: url(../assets/header-image.jpg);
}

.header-index h1 {
    margin-top: 40px;
    width: 100%;
}

span {
    display: block;
}

.header-content {
    position: absolute;
}

.header-content figure {
    position: relative;
    top: 30vh;
    margin-left: auto;
    flex-basis: auto;
}

/* Section styles */

/* About section */
.about {
    background-color: $pale-mauve;
    padding: 20px 0;
    text-align: center;
    justify-content: center;
}

.about .flexbox {
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    padding: 140px 0 40px;
}

/* New additions & too many options section */

.new-too .flexbox{
    flex-direction: column;
}

.new-too figure,
.new-too .flexbox {
    width: 50%;
    margin: 50px;
}

.options {
    text-align: right;
}

/* Icon contact section */

.icon-contact {
    background-color: $pale-mauve;
    padding: 40px 0;
    width: 100%;
}

.iconbox h2 {
    display: block;
}
.iconbox p {
    display: inline-block;
}

.icon-contact .flexbox {
    margin: 20px 60px;
    width: 100%;
}

.iconbox {
    display: flex;
    flex-direction: column;
}