@import "variables";
@import "setup";
@import "global";
@import "typography";
@import "nav-bar";
@import "footer";


/* Home page styles */

/* Header styles */

.header-index {
    background-image: url(../assets/header-image.jpg);
}

.header-index h1 {
    margin-top: 40px;
    width: 100%;
}

span {
    display: block;
}