$plum-purple: #4C0341;
$orange: #FE6F19;
$white: #FFF;
$black: #0D0D0D;
$brown-red: #882C07;
$pale-mauve: #FAE5FF;
$pompiere: 'Pompiere', cursive;
$lato: 'Lato', sans-serif;
$box-shadow: 20px 20px $orange;

// notes about what changes need to happen at the breakpoints is contained in the breakpoints
$breakpoints: (
    'phone':        400px,
    // shouldn't need new changes, but double check after other changes made
    'phone-wide':   480px,
    // shouldn't need new changes, but double check after other changes made
    'phablet':      560px,
    // home: it's time to centre the header figure in the margin and probably centre the h1 too. putting them in a column and having the figure spill into the about section would make sense. this should be the final change to make before we're fully in a column and on mobile on the home page
    'tablet-small': 640px,
    // home: flip the "popular section so that the image is above the h1 then the p in a column. may need to drop the header figure another 10-20vh. if things aren't in a hamburger yet (probably should be by now) then this is the absolute last place before things break on the nav
    // blog: may just need to check the position of the article/image to make sure it's starting in the header in a satisfying way
    'tablet':       768px,
    // home: now the "blog" link is also basically invisible in the menu so I either need to flip colours, show it more, or start the hamburger. I could also push the "figure" image down another 10-20vh. This is probably where the images should flip into a column in the "new-too" section (img/text/button/img/text/button). This will also be where the icon-contact section goes column (icon/header/p * 4). "Popular" still looks good here but the button width could change so it's still on one line (check other buttons too once you've swapped the sections to columns, right now they are weird in rows but expect they'll be fixed in columns). may as well flip gallery here too so that it's columns
    // blog: the aside has officially started running crazy so put it under the comment form in a column. make sure to widen the aside so that it's in a wrapper sized white block with the info and under the photo (figure/header/p/header/ul). Reduce margin above "Comments" by at least 20%. Center the main in the wrapper.
    // contact: put things in a column, so the form above the icons, then the email, then the other contact info, and then the footer. Centre and this should be all we need - DONE
    'tablet-wide':  1024px,
    // home: this could be where hamburger comes in, as "about" is hard to read due to being on the pants in the bg photo. an alternative is to start showing backgrounds for all of them or invert the colours but this would affect every page if I do it in the nav partial - DONE
    // blog: could maybe reduce margin above "Comments" by 10%, very small thing - DONE
    // contact: get in touch is still a bit covered but because it starts in whitespace now it's pretty easy to figure out (I would have blurred image in a production situation anyways) NOT DOING, GOOD ENOUGH FOR NOW
    'desktop':      1248px,
    // "get in touch" is a little bit hard to read on contact because of the shoe in the background, would have to blur the background or move the photo to show more whitespace here. otherwise perfect - NOT DOING, GOOD ENOUGH FOR NOW
    'desktop-wide': 1440px,
    // perfect - DONE
    'extra-size': 1550px,
    // blog: may need to position article to the right a little bit - DONE

    //vertical breakpoints
    'vertical-break1': 0,
    'vertical-break2': 500px,
    'vertical-break3': 726px,
    'vertical-break4': 951px,
    'vertical-break5': 1201px
);

// VERTICAL MIXIN TWEAK IDEAS
// for all these, assumes a non-mobile width
// 0-499px
    // home: header has to be turned into a column, just like I did in the mobile width inquiries. h1 needs to be broken back into one line
    // blog: needs to be a column like the mobile width break
    // contact: make sure the footer has plenty of extra room. needs to be a column like with the mobile width break
// 500-725px
    // home: adjust the header figure so it pushes up towards the header 10-25vh. maybe shrink the icon contact top margin/padding a tiny bit so it's more even now - DONE
    // contact: add a bit of margin to the footer below the postal code so the text of the contact isn't cut off - DONE
// 726-950px: good
// 951-1200px:
    // home: adjust header figure to push it down about 10-25vh. can push the new-too top image down a bit too - DONE
    // blog: less margin above Comments if still an issue after the width changes - DONE
// 1201-1500px
    // home: another adjustment of the header figure is probably a good idea but then just have this be the max - DONE
