$plum-purple: #4C0341;
$orange: #FE6F19;
$white: #FFF;
$black: #0D0D0D;
$brown-red: #882C07;
$pale-mauve: #FAE5FF;
$pompiere: 'Pompiere', cursive;
$lato: 'Lato', sans-serif;
$box-shadow: 20px 20px $orange;